header {
  position: relative;
  font-family: "poppins";
  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    // width: 83% !important;
  }

  .navbars {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;

    .solid {
      background-color: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
      // box-shadow: 0 0 10px rgba(0 0 0 / 15%);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 15%);
    }

    .brand-left {
      display: flex;
      align-items: center;
    }

    &_brand {
      margin: 0;
      font-size: 1.25rem;
      text-decoration: none;
      white-space: nowrap;
      padding-left: 20px;
      color: white;
    }

    &_btn_toggle {
      display: block;
      outline: none;
      border: none;
      background: none;
      color: #fff;
      font-size: 28px;

      span {
        background: white;
        width: 25px;
        height: 3px;
        display: block;
      }

      span::after {
        content: "";
        transform: translateY(-11px);
        background: white;
        width: 25px;
        height: 3px;
        display: block;
      }

      span::before {
        content: "";
        background: white;
        width: 25px;
        height: 3px;
        display: block;
        transform: translateY(8px);
      }

      &.opens span {
        transform: translateX(-50px);
        background: transparent;
      }

      &.opens span::before {
        transform: rotate(45deg) translate(37px, -35px);
        transition: all 0.3s ease;
      }

      &.opens span::after {
        transform: rotate(-45deg) translate(37px, 35px);
        transition: all 0.3s ease;
      }

      @include breakpoint-up(large) {
        display: none;
      }
    }

    &_nav {
      // display: flex;
      // margin: 0;
      // flex-direction: column;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, 8%);
      // background: white;
      // width: 85%;
      // padding: 20px;
      // text-align: center;
      // justify-content: center;
      // // opacity: 0;
      // margin-top: -520px;

      display: none;

      @include breakpoint-up(large) {
        display: flex;
        align-items: center;
        margin: 0;
      }

      li {
        border: none;
        position: relative;
        list-style: none;

        // width: 100%;
        @include breakpoint-up(large) {
          padding: 12px;
        }

        a {
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;

          @include breakpoint-up(large) {
            &::after {
              content: "";
              position: absolute;
              width: 0px;
              height: 5px;
              left: 50%;
              bottom: 0;
              background-color: white;
              transition: all ease-in-out 0.2s;
            }

            &:hover::after {
              width: 100%;
              left: 0;
            }
          }

          @include breakpoint-up(large) {
            padding: 0;
            border: none;
            width: 0%;
            color: white;
          }

          // :hover{

          // }
        }
      }

      .btn-custom-nav {
        @include breakpoint-up(large) {
          font-size: 12px;
          font-weight: 500;
          border-radius: 3px;
          min-width: 110px;
          height: 38px;
          text-align: center;
          font-family: Poppins, sans-serif;
          transition: 0.15s ease-in-out;
          background-color: #d4269e;
          color: white;
        }

        &:hover {
          background-color: #f84cc2;
        }

        // margin-top: 20px;
      }
    }
  }

  .sticky {
    background: white;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    .navbars_brand {
      margin: 0;
      font-size: 1.25rem;
      text-decoration: none;
      white-space: nowrap;
      padding-left: 20px;
      color: rgb(92, 86, 86);
    }

    li {
      a {
        color: rgb(92, 86, 86);
        font-size: 16px;
        font-weight: 500;

        &::after {
          content: "";
          position: absolute;
          width: 0px;
          height: 5px;
          left: 50%;
          bottom: 0;
          background-color: rgb(92, 86, 86);
          transition: all ease-in-out 0.2s;
        }

        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
    }

    .navbars_btn_toggle span,
    span::after,
    span::before {
      background-color: #8b67f4;
    }

    .navbars_btn_toggle.opens span {
      height: 0;
      background-color: transparent;
    }
  }

  .header_menu {
    .navbars_nav {
      display: flex;
      margin: 0;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      background: white;
      width: 85%;
      padding: 20px;
      text-align: center;
      justify-content: center;
      opacity: 0;
      z-index: 999;
      transition: all 0.3s ease;
      border-radius: 0px 0px 20px 20px;
      margin-top: -700px;

      @include breakpoint-up(large) {
        opacity: 0;
        margin: 0;
        margin-top: -700px;
      }

      &.open {
        opacity: 100;
        margin-top: 0px;

        @include breakpoint-up(large) {
          opacity: 0;
          margin-top: 0px;
        }
      }

      li {
        text-decoration: none;
        position: relative;
        background-color: white;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.3);
        border-radius: 30px 30px 30px 0;
        width: 100%;
        display: block;
        padding: 20px;
        // border: 1px solid;
        margin-top: 8px;
        list-style: none;
        // width: 100%;

        a {
          // text-decoration: none;

          // color: rgb(92, 86, 86);
          // box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
          // border-radius: 30px 30px 30px 0;
          // width: inherit;
          // display: block;
          // padding: 20px;
          // border: 1px solid;
          // margin-top: 8px;
          color: rgb(92, 86, 86);
          z-index: 999;
        }

        &:nth-of-type(5) {
          margin-bottom: 12px;
        }

        .span-bg {
          background-color: #ffa000;
          width: 120px;
          height: 64px;
          float: right;
          position: absolute;
          border-radius: 30px 30px 30px 0;
          right: 0px;
          top: 0px;
          transition: all 0.3s;

          &::after {
            content: "";
            width: 0;
            height: 0;
            border-top: 65px solid #fff;
            border-right: 55px solid transparent;
            position: absolute;
            top: 0px;
            left: -2px;
          }
        }

        .custom-fa {
          position: absolute;
          right: 25px;
          font-size: xx-large;
          top: 15px;
          color: #fff;
        }

        &:hover a {
          z-index: 999;
          position: relative;
          color: white;
        }

        &:hover .span-bg {
          width: 100%;
          // border-radius: 30px;
          color: white;
        }

        &:hover .span-bg::after {
          display: none;
          opacity: 0.1;
        }
      }
    }
  }
}

.heart {
  background-color: #ff586b !important;
}

.book {
  background-color: #00b7c4 !important;
}

.brain {
  background-color: #8bc34a !important;
}

// .container {
//     width: 80% !important;
// }

.semai_hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/Wave-100s-1504px.svg");
  position: relative;
  padding-top: 150px;

  .overlay {
    background: linear-gradient(
      234deg,
      rgba(20, 51, 100, 0.3) 19%,
      #653af0 100%
    );
    opacity: 0.9;
    padding-top: 150px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .container {
    position: relative;
    z-index: 99;
  }

  .btn-hero {
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    min-width: 110px;
    height: 38px;
    text-align: center;
    font-family: Poppins, sans-serif;
    transition: 0.15s ease-in-out;
    background-color: #d4269e;
    color: white;
    border: none;

    &:hover {
      background-color: #f84cc2;
    }
  }

  .big-font {
    font-size: 35px;
    font-weight: 500;
    line-height: 1.32;
    margin-bottom: 0.55em;
  }

  .small-font {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
  }

  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
  }

  #msg,
  #msg_2 {
    animation: up 1s linear 1s infinite alternate;
    animation-delay: 2s;
  }

  #like {
    animation: left 1s linear 1s infinite alternate;
  }

  #smile {
    animation: right 1s linear 1s infinite alternate;
  }

  #shoulders-l {
    animation: l-up 1s linear 1s infinite alternate;
    animation-delay: 2s;
  }

  #shoulders-r {
    animation: r-up 1s linear 1s infinite alternate;
    animation-delay: 2s;
  }

  #cp {
    animation: cp-shake 1s linear 1s infinite alternate;
  }

  @keyframes up {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(20px);
    }
  }

  @keyframes left {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(10px);
    }
  }

  @keyframes right {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-10px);
    }
  }

  @keyframes l-up {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: skewY(6deg);
    }
  }

  @keyframes r-up {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translate(10px, 10px);
    }
  }

  @keyframes cp-shake {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(2px);
    }
  }
}

.semai-body {
  margin-top: 150px;

  a {
    text-decoration: none;
    position: relative;
    display: block;
    margin-bottom: 30px;

    .wrapper-l {
      display: flex;
      align-items: center;
      position: relative;
      padding: 20px;
      position: relative;
      background-color: #fff;
      z-index: 1;
      box-shadow: 0 2px 4px 0 rgba(0, 12, 31, 0.3);
      transition: 0.25s ease-in-out;

      &:hover {
        box-shadow: 0 2px 12px 0 rgba(0, 12, 31, 0.08);
        transform: translateY(-3px);
      }

      .icon-a {
        flex: 0 0 80px;
        max-width: 70px;
        height: 70px;
        line-height: 80px;
        text-align: center;
        background-color: #f5ba2e;
        border-radius: 3px;
        margin-right: 30px;
        i {
          color: white;
          font-size: 30px;
        }
      }

      .text-content {
        h3 {
          font-size: 16px;
          font-weight: 500;
          color: #252a32;
          margin-bottom: 0.25em;
        }

        span {
          font-size: 13px;
          color: #4e5560;
          display: block;
        }
      }
    }

    &:hover::after {
      opacity: 100;
    }

    &::after {
      content: "";
      position: absolute;
      width: calc(100% - 60px);
      height: 20px;
      left: 30px;
      bottom: -10px;
      display: block;
      opacity: 0.3;
      background: linear-gradient(90deg, #0ec2e9 0, #6038f7 100%);
      transition: 0.25s ease-in-out;
    }
  }
}

.semai-body-2 {
  margin-top: 200px;
  background-color: #fafcff;

  h4 {
    font-size: 30px;
    font-weight: 700;
    color: #252a32;
    line-height: 1.47;
    margin-bottom: 0.7em;
  }

  svg {
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
  }

  #main-mail,
  #left-mail,
  #right-mail {
    animation: ups 1s linear 1s infinite alternate;
  }

  #mobile {
    animation: ups-m 1s linear 1s infinite alternate;
    animation-delay: 2s;
  }

  @keyframes ups {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(20px);
    }
  }

  @keyframes ups-m {
    from {
      transform: translateY(0px);
    }

    to {
      transform: rotateX(13deg);
    }
  }
}

.semai-body-3 {
  margin-top: 200px;

  .icon-box-3 {
    font-size: xxx-large;
    color: var(--bs-teal);
    margin-bottom: 20px;
  }
}

.semai-body-4 {
  margin-top: 200px;

  .custom-widt-img-4 {
    width: 80%;
    text-align: center;
  }

  .sm-body-4-row {
    display: flex;

    i {
      padding-right: 20px;
      color: var(--bs-indigo);
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.semai-body-5 {
  margin-top: 200px;
}

.semai-body-6 {
  background-color: #fafcff;
  margin-top: 200px;

  .text-center {
    font-size: 30px;
    font-weight: 700;
    color: #252a32;
    margin-bottom: 10px;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
  }
}

.client-content {
  background-color: #fafcff;
  margin-top: 200px;
  padding: 30px;

  .c-title {
    position: relative;
    color: #484d52;
    text-align: center;
    margin-bottom: 90px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 2px;
      bottom: -20px;
      left: 50%;

      transform: translateX(-50%);
      background: #11bfda;
    }
  }

  .client-wrapper {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;

    .client-slider-swiper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      box-sizing: content-box;
      transition: all 1s ease;

      // animation: right-xs 5s linear 5s;
      // // animation: right-xs 5s linear 5s;
      // // animation: name duration timing-function delay iteration-count direction fill-mode;
      // @keyframes right-xs {
      //     0%{
      //      transform: translateX(0);
      //     }
      //     100%{
      //      transform: translateX(-100%);
      //     }
      // }
      .client-slider {
        flex-shrink: 0;
        width: 100%;

        .quotes {
          text-align: center;
          background-color: transparent;
          border-radius: 0;
          padding: 0;
          box-shadow: none;
          width: 80%;
          margin: 0 auto;
          span {
            font-size: 150px;
            color: #d3ebef;
            font-family: "Poppins";
            transform: rotate(180deg) skewX(349deg);
            display: block;
            width: 100%;
            height: 80px;
          }

          .client-author {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
          }

          img {
            // border-radius: 50%;
            // border:1px solid #e0e7f2;
            // padding: 5px;
            // position: relative;
            margin-right: 20px;
          }

          p {
            font-size: 20px;
            color: #4e5560;
            margin: 0;
          }
        }
      }
    }
  }

  .btn-prev {
    left: -50px;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    color: #252a32;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    box-shadow: 0 2px 4px rgba(0, 12, 31, 0.08);
    border: 1px solid #ecf0f5;
    cursor: pointer;
    outline: 0;
    z-index: 2;
    transform: translateY(-50%);
    transition: 0.2s ease-in-out;
    opacity: 0;

    @include breakpoint-up(large) {
      left: 50px;
      opacity: 1;
    }
  }

  .btn-next {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    color: #252a32;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    box-shadow: 0 2px 4px rgba(0, 12, 31, 0.08);
    // box-shadow: 0 2px 4px rgb(0 12 31 / 8%);
    border: 1px solid #ecf0f5;
    cursor: pointer;
    outline: 0;
    z-index: 2;
    transform: translateY(-50%);
    transition: 0.2s ease-in-out;
    // @include breakpoint-up(large){
    // right: -75px;
    // }
    right: -50px;
    opacity: 0;

    @include breakpoint-up(large) {
      right: 50px;
      opacity: 1;
    }
  }
}

// transform: translateX(-755px);

.f-widget-area {
  margin-top: 200px;
  background-color: #e1effa;
  padding: 60px 0px;

  .f-brand {
    margin: 0;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    // padding-left: 20px;
    color: #345372;
  }

  p {
    font-size: 15px;
    line-height: 1.75;
    color: #3b566e;
    text-decoration: none;

    @include breakpoint-up(large) {
    }
  }

  .col-sm-12 {
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #345372;
      margin-bottom: 40px;
    }

    ul {
      li {
        a {
          font-size: 15px;
          line-height: 1.75;
          color: #3b566e;
          text-decoration: none;
        }
      }
    }
  }

  .f-copyright {
    border-top: 1px solid #c6d9eb;
    padding-top: 20px;
  }
}
